In [3]:
import numpy as py
import pandas as pd

In [4]:
# Series

In [5]:
list_1 = ['a', 'b', 'c', 'd']
labels = [1,2,3,10]
ser_1 = pd.Series(data=list_1, index=labels)
ser_1

# print(ser_1[10])

arr_1 = py.array([1,2,3,4])
ser_2 = pd.Series(arr_1)

dict_1 = {'f_name' : 'Demi', 'l_name' : 'Aina', 'age' : 14}
ser_3 = pd.Series(dict_1)

ser_3

ser_2 / ser_2

py.exp(ser_2)

ser_4 = pd.Series({4:5, 4:6, 6 : 7, 7:8}, name='random_nums')

ser_2 + ser_4

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
6   NaN
7   NaN
dtype: float64

In [6]:
# Dataframes

In [7]:
arr_2 = py.random.randint(10,50 , size=(2,3))
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
df_1

dict_3 = {'one' : pd.Series([1.,2.,3.], index=['a','b','c']),
            'two' : pd.Series([1.,2.,3.,4.], index=['a','b','c','d'])}

df_2 = pd.DataFrame(dict_3)

pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B' , [4,5,6])]))

pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B' , [4,5,6])]),
                        orient='index',  columns=['one', 'two', 'three'])

   one  two  three
A    1    2      3
B    4    5      6

In [8]:
## What can I do with dat frames

In [9]:
df_1
df_1[['C','E']]
df_1.loc['A']
df_1.iloc[1]
df_1.loc[['A','B'], ['D', 'E']]
df_1['Total'] = df_1['C'] + df_1['D'] + df_1['E']
print(df_2)
df_2['mult'] = df_2['one'] * df_2['two']
dict_2 = {'C' : 44, 'D' : 45, 'E': 46}
new_row = pd.Series(dict_2, name='F')
#df_1 = df_1.append(new_row) # depcrated method

#Concat method recommneded 
df_1 = pd.concat([df_1, pd.DataFrame([new_row], columns=df_1.columns, index=[new_row.name])])
print(df_1)

#df_1.loc[new_row.name] = new_row.values  # Figure out why this doesnt work later

#df_1.loc[len(df_1)] = new_row #RangeIndex!
df_1
df_1.drop('Total', axis=1, inplace=True)
df_1
df_1.drop('B', axis=0, inplace=True)
df_1['Sex'] = ['Men' , 'Women']
df_1.set_index('Sex', inplace=True)
df_1


df_2.assign(div=lambda x: (x['one'] / x['two']))

df_3 = pd.DataFrame({'A' : [1., py.nan, 3., py.nan]})
df_4 = pd.DataFrame({'A' : [8.,9.,2.,4.]})
df_3.combine_first(df_4)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
      C     D     E  Total
A  20.0  38.0  13.0   71.0
B  32.0  17.0  19.0   68.0
F  44.0  45.0  46.0    NaN

     A
0  1.0
1  9.0
2  3.0
3  4.0

In [10]:
# Conditional selection 
array2 = py.random.randint(10,50, size=(2,3))
df_1 = pd.DataFrame(array2, ['A', 'B'], ['c', 'D', 'E'])
df_1

print("Greater than 40\n", df_1.gt(40.0))
bool_1 = df_1 >= 45.0
df_1[bool_1]

df_1['E'] > 40

df_1[df_1['E'] > 30]
df_2 = df_1[df_1['E']>30]
df_2['c']

print(df_1[df_1['E']>20][['c', 'D']])

array3 = py.array([[1,2,3],[4,5,6],[7,8,9]])
df_2 = pd.DataFrame(array3, ['A','B','C'], ['X','Y','Z'])
df_2
df_2[(df_2['X']>3) & (df_2['X']<7)]

Greater than 40
        c      D      E
A  False  False  False
B  False   True   True
    c   D
B  38  46

   X  Y  Z
B  4  5  6